{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}


<section class="form">
        <div class="container">

       {% if hello %}
                <div class="alert alert-success">
                    {{ hello }}
                </div>
            {% endif %}
 <div class="row">
                <div class="col"></div>
                <div class="col-3">
                
    {{ form_start(form) }}


                      <div class="mb-3">
                    {{ form_label(form.title, 'TITLE', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_row(form.title) }}
                    </div>


                    {{ form_label(form.text, 'YOUR MESSAGE', {'label_attr': {'class': 'form-label'}},) }}
                    {{ form_row(form.text )}}
                     

                    
        {{ form_rest(form) }}
         </div>
                <div class="col"></div>
            </div>   
        </div>
    </section>
    




    {{ form_end(form) }}



    <style>

    body {
        background-color: #696969!important;
    }


{% endblock %}
